<h1><%= current_user.name %>'s Saved Recipes</h1>
<% if @recipes.any? %>
  <ul class="recipe-container">
    <% @recipes.each do |recipe| %>
        <li class="recipe-card">
          <div class="info">
              <div class="title"><%= recipe.title %></div>
              <div class="subtitle"><%= recipe.description %></div>
          </div>

          <div class="buttons">
             <%= link_to recipe_path(recipe) do %><span class="material-symbols-outlined">info</span><% end %>
          </div>
        </li>
    <% end %>
  </ul>
<% else %>
  <p>No items in your recipe list.</p>
<% end %>

<div class="recipe-btn-container" style="display: none;">
  <%= link_to 'Add Recipe', new_recipe_path, class: "pink-button" %>
</div>
