<h1><%= current_user.name %>'s Saved Recipes</h1>

<div data-controller="search" class="search-controller">
  <div class="recipe-btn-container">
    <%= link_to 'Search For New Recipes', search_recipes_path, class: "btn-new-search" %>
  </div>

  <%# search %>
  <div class="recipe-search-container">
    <div class="search-bar-your-recipe">
      <i class="search-icon fa-solid fa-magnifying-glass"></i>
      <%= simple_form_for :search, url: recipes_path, method: :get, html: { class: "d-flex", data: { search_target: "form"} } do |f| %>
        <%= f.input :query,
                    input_html: {
                      placeholder: "Search Your Recipes",
                      data: { action: "keyup->search#fire",
                      search_target: "input" }
                    },
                    label: false %>
      <% end %>
    </div>
  </div>

  <div id="recipe-search-results" data-search-target="results">
    <% if @recipes.any? %>
      <ul class="recipes-container">
        <% @recipes.each do |recipe| %>
          <%= link_to recipe_path(recipe),  class: "recipe-card" do %>
            <li>
              <% if recipe.image_url? %>
                <%= image_tag recipe.image_url, class:"recipe-card-img", alt: '...' %>
              <% else %>
                <%= image_tag 'no_recipe_image.png', class:"recipe-card-img", alt: '...' %>
              <% end %>
              <div class="info">
                  <div class="title"><%= recipe.title %></div>
                  <!--<div class="subtitle"><%= recipe.description %></div>-->
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <p>No items in your recipe list.</p>
    <% end %>
  </div>
</div>
