<h1><%= current_user.name %>'s Saved Recipes</h1>

<% if @recipes.any? %>
  <ul class="recipes-container">
    <% @recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe),  class: "recipe-card" do %>
        <li>
            <%= image_tag 'no_recipe_image.png', class:"recipe-card-img", alt: '...' %>
          <div class="info">
              <div class="title"><%= recipe.title %></div>
              <!--<div class="subtitle"><%= recipe.description %></div>-->
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No items in your recipe list.</p>
<% end %>

<div class="recipe-btn-container" style="display: none;">
  <%= link_to 'Add Recipe', new_recipe_path, class: "pink-button" %>
</div>
