<div class="recipe-container">
  <div class="recipe-card-content">
    <div class="title">
      <h1><%= @recipe.title %></h1>
    </div>
    <%= image_tag 'home_logo.jpeg', alt: 'logo', class: "recipe-card-img" %>
  </div>
  <div class="recipe-card-ingredient">
    <h2>Ingredients</h2>
    <%= @recipe_ingredients.name %>
    <%= @recipe_ingredients.amount %>
    <%= @recipe_ingredients.category.name %>
  </div>
  <div class="recipe-card-detail">
    <h2>Instructions</h2>
    <%= @recipe.description %>
  </div>
</div>
