<div class="recipe-container">
  <div class="recipe-content">
    <% if @recipe.image_url? %>
      <%= image_tag @recipe.image_url, class:"recipe-img", alt: '...' %>
    <% else %>
      <%= image_tag 'no_recipe_image.png', class:"recipe-img", alt: '...' %>
    <% end %>
    <div class="title">
      <h1><%= @recipe.title %></h1>
    </div>
  </div>
  <div class="recipe-detail">
    <ul class="recipe-ingredient">
      <h2>Ingredients</h2>
      <% @recipe_ingredients.each do |recipe_ingredient| %>
        <li class="recipe-ingredient-card">
          <%= recipe_ingredient.name %>
          <%= recipe_ingredient.amount %>
          <%= recipe_ingredient.unit %>
        </li>
      <% end %>
    </ul>
    <h2>Descriptions</h2>
      <%= simple_format(@recipe.description) %>

    <div class="recipe-footer">
      <span class="button-edit-recipe"><%= link_to 'Edit the ingredients', recipe_recipe_ingredients_path(params[:id]), locals: { recipe_ingredients: @recipe_ingredients } %></span>
      <span class="button-edit-recipe"> | </span>
      <span class="button-edit-recipe"><%= link_to 'Edit the recipe', edit_recipe_path(params[:id]), locals: { recipe: @recipe } %></span>
    </div>

  </div>
</div>
