<div class="recipe-container">
  <div class="recipe-content">
    <div class="title">
      <h1><%= @recipe.title %></h1>
    </div>
    <%= image_tag 'home_logo.jpeg', alt: 'logo', class: "recipe-img" %>
  </div>
  <div class="recipe-ingredient">
    <h2>Ingredients</h2>
    <% @recipe_ingredients.each do |recipe_ingredient| %>
    <%= recipe_ingredient.name %>
    <% end %>
  <div><%= link_to 'Edit the ingredients', edit_recipe_path(params[:id]) %></div>
  </div>
  <div class="recipe-detail">
    <h2>Instructions</h2>
    <%= @recipe.description %>
  </div>
</div>
