<%# navigation container start %>
<div class="navigation-form" data-controller="toggler">
  <%# form start %>
  <div data-toggler-target="form" class="form-popup-wrapper d-none">
    <button class="close-icon" data-action="toggler#toggle" data-target-name="form">
      <i class="fa-regular fa-circle-xmark"></i>
    </button>
    <% if (@ingredients) %>
      <%= render partial: "ingredients/form"%>
    <% end %>
  </div>
  <%# form end %>
  <div data-toggler-target="api_form" class="form-popup-wrapper d-none">
    <button class="close-icon" data-action="toggler#toggle" data-target-name="api_form">
      <i class="fa-regular fa-circle-xmark"></i>
    </button>
    <% if (@ingredients) %>
    <%= render partial: "ingredients/api_form"%>
    <% end %>
  </div>
  <div class="navigation" id="naviation">
    <%# pantry start %>
    <div class="nav-icon">
      <%= link_to ingredients_path, class: "nav-icon #{'active' if current_page?(ingredients_path)}" do %>
        <span class="material-icons nav-font">kitchen</span>
      <% end %>
    </div>
    <%# pantry end %>
    <%# shopping list start %>
    <div class="nav-icon">
      <%= link_to shopping_lists_path, class: "nav-icon #{'active' if current_page?(shopping_lists_path)}" do %>
        <span class="material-icons nav-font">shopping_cart</span>
      <% end %>
    </div>
    <%# shopping list end %>
    <%# add btn start %>
    <div class="nav-icon-add dropdown-centered" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="material-icons nav-font-add">add</span>
    </div>
      <%# add btn menu %>
      <div class="dropdown-menu dropdown-menu-end dropdown-centered" aria-labelledby="navbarDropdown" style="padding: 0; border: none; background: none;">
        <% if (@ingredients) %>
          <button class="button dropdown-item-navigation" data-action="toggler#toggle" data-target-name="api_form">Stock using image</button>
          <button class="button dropdown-item-navigation" data-action="toggler#toggle" data-target-name="form">Stock manually</button>
        <% end %>
        <% if (@recipes) %>
          <div><%= link_to 'Search Recipe', search_recipes_path, class: "button dropdown-item-navigation" %></div>
          <div><%= link_to 'Add Recipe Manually', new_recipe_path, class: "button dropdown-item-navigation" %></div>
        <% end %>
        <% if (@result) %>
          <div><%= link_to 'Search Recipe', search_recipes_path, class: "button dropdown-item-navigation" %></div>
        <% end %>
      </div>
    <%# add btn end %>
    <%# recipe start %>
    <div class="nav-icon">
      <%= link_to recipes_path, class: "nav-icon #{'active' if current_page?(recipes_path)}" do %>
        <span class="material-icons nav-font">restaurant_menu</span>
      <% end %>
    </div>
    <%# recipe end %>
    <%# menu start %>
    <div class="nav-icon" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= link_to "#", class: "nav-icon" do %>
        <span class="material-icons nav-font">list</span>
      <% end %>
    </div>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="border: none; background: none; text-align: center">
      <%#= link_to "Action", "#", class: "dropdown-item" %>
      <%#= link_to "Another action", "#", class: "dropdown-item" %>
      <div><%= link_to 'Back to Home', root_path, class: "button dropdown-item-navigation" %></div>
      <div><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "button dropdown-item-navigation" %></div>
    </div>
    <%# menu end %>
  </div>
</div>
<%# navigation container end %>
