<%# navigation container start %>
<div class="navigation-form" data-controller="toggler">
  <%# form start %>
  <div data-toggler-target="form" class="form-popup-wrapper d-none">
  <button class="close-icon" data-action="toggler#toggle" data-target-name="form">
    <i class="fa-regular fa-circle-xmark"></i>
  </button>
    <% if (@ingredients) %>
    <%= render partial: "ingredients/form"%>
    <% end %>
  </div>
  <%# form end %>
    <div data-toggler-target="api_form" class="form-popup-wrapper d-none">
  <button class="close-icon" data-action="toggler#toggle" data-target-name="api_form">
    <i class="fa-regular fa-circle-xmark"></i>
  </button>
    <% if (@ingredients) %>
    <%= render partial: "ingredients/api_form"%>
    <% end %>
  </div>
  <div class="navigation" id="naviation">
    <%# pantry start %>
    <div class="nav-icon">
      <%= link_to ingredients_path, class: "nav-icon" do %>
        <span class="material-icons nav-font">kitchen</span>
      <% end %>
    </div>
    <%# pantry end %>
    <%# shopping list start %>
    <div class="nav-icon">
      <%= link_to shopping_lists_path, class: "nav-icon" do %>
        <span class="material-symbols-outlined nav-font">shopping_cart</span>
      <% end %>
    </div>
    <%# shopping list end %>
    <%# add btn start %>
    <div class="nav-icon-add dropdown-centered" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="material-icons nav-font-add">add</span>
    </div>
      <%# add btn menu %>
      <div class="dropdown-menu dropdown-menu-end dropdown-centered" aria-labelledby="navbarDropdown">
        <% if (@ingredients && !@shopping_list) %>
          <button class="dropdown-item-navigation" data-action="toggler#toggle" data-target-name="api_form">Stock using image</button>
          <button class="dropdown-item-navigation" data-action="toggler#toggle" data-target-name="form">Stock manually</button>
        <% end %>
        <% if (@shopping_list) %>
          <div><%= link_to 'Add Item to shoppinglist', new_shopping_list_path, class: "dropdown-item-navigation" %></div>
        <% end %>
        <% if (@recipes || @recipe) %>
          <div><%= link_to 'Add recipes manually', new_recipe_path, class: "dropdown-item-navigation" %></div>
          <%#= link_to 'Search recipe ideas', search_recipes_path, class: "dropdown-item-navigation" %>
        <% end %>
      </div>
    <%# add btn end %>
    <%# recipe start %>
    <div class="nav-icon">
      <%= link_to recipes_path, class: "nav-icon" do %>
        <span class="material-icons nav-font">restaurant_menu</span>
      <% end %>
    </div>
    <%# recipe end %>
    <%# menu start %>
    <div class="nav-icon" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= link_to "#", class: "nav-icon" do %>
        <span class="material-icons nav-font">list</span>
      <% end %>
    </div>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <%#= link_to "Action", "#", class: "dropdown-item" %>
      <%#= link_to "Another action", "#", class: "dropdown-item" %>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item-navigation" %>
    </div>
    <%# menu end %>
  </div>
</div>
<%# navigation container end %>
