<%# Ternary operator checks if this is for a new ingredient or existing one  %>
<% form_ingredient = local_assigns[:ingredient] || @ingredient %>

<div class="styled-form">
  <%= simple_form_for form_ingredient do |f| %>
    <div class="form-row">
      <%= f.input :name, label: "Name", wrapper_html: { class: "form-group" } %>
    </div>
    <div class="form-row">
      <%= f.input :amount, label: "Qty", wrapper_html: { class: "form-group" } %>
      <%= f.input :unit, label: "Unit", wrapper_html: { class: "form-group" } %>
    </div>
    <div class="form-row">
      <%= f.input :category_id, as: :select,
                  collection: Category.all.pluck(:name, :id),
                  prompt: "Select a category",
                  wrapper_html: { class: "form-group" } %>
    </div>
    <div class="form-row">
      <%= f.input :expiration_date,
                  as: :string,
                  input_html: { data: { controller: "datepicker" } },
                  label: "Best by",
                  wrapper_html: { class: "form-group "} %>
      <%= f.submit "Save", class: "pink-button" %>
    </div>
  <% end %>
</div>
