 <% form_ingredient = local_assigns[:ingredient] || @ingredient %>

 <div class="styled-form">
  <%= simple_form_for form_ingredient do |f| %>
    <%= f.input :name %>
    <%= f.input :amount %>
    <%= f.input :unit %>
    <%= f.input :category_id, as: :select,
                collection: Category.all.pluck(:name, :id),
                prompt: "Select a category" %>
    <%= f.input :expiration_date %>
    <%= f.submit "Add ingredient" %>
  <% end %>
</div>
