<div class="card">
  <div class="card-content">
    <%= ingredient.name %>
  </div>
  <div class="card-detail">
  <%# conditional leans up display, returns whole numbers & decimals %>
    <% if ingredient.amount % 1 == 0 %>
      <%= ingredient.amount.to_i %>
    <% else %>
      <%= ingredient.amount %>
    <% end %>
    <%= ingredient.unit %>
  </div>
  <p> In <%= (ingredient.expiration_date - Date.today).to_i %> days </p>
</div>

<div class="card">
  <div class="card-content">
    <%= ingredient.name %>
  </div>
  <div class="card-detail">
  <%# conditional leans up display, returns whole numbers & decimals %>
    <% if ingredient.amount % 1 == 0 %>
      <%= ingredient.amount.to_i %>
    <% else %>
      <%= ingredient.amount %>
    <% end %>
    <%= ingredient.unit %>
  </div>
  <p> In <%= (ingredient.expiration_date - Date.today).to_i %> days </p>
</div>
