<div class="ingredient-card" data-controller="toggler edit" data-url="<%= ingredient_path(ingredient) %>">
  <%# just the picture %>
  <div class="card-picture-box">
      <% if ingredient.image_url == "" %>
        <% ingredient_pic = "meal-food-icon.png" %>
      <% else %>
        <% ingredient_pic = ingredient.image_url %>
      <% end %>
    <%= image_tag ingredient_pic, class: 'card-image' %>
  </div>
  <%# has the title amount counter and expiration date %>
  <div class="card-info">
    <div class="card-title"  data-field="name" data-action="click->edit#edit">
      <span  data-edit-target="nameContent"><%= ingredient.name.downcase.titleize %> </span>
      <input type="text" data-edit-target="nameInput" value="<%= ingredient.name %>" class="edit-field d-none">
    </div>
    <div class="amount-and-unit">
    <%# conditional leans up display, returns whole numbers & decimals %>
      <% amount = (ingredient.amount % 1 == 0) ? ingredient.amount.to_i : ingredient.amount %>
      <div id="amount" data-action="click->edit#edit" data-field="amount">
        <span data-edit-target="amountContent"><%= amount %> </span>
        <input type="number" data-edit-target="amountInput" value="<%= amount %>" class="edit-field d-none">
      </div>
      <div id="unit" data-action="click->edit#edit" data-field="unit">
        <span data-edit-target="unitContent"><%= ingredient.unit %> </span>
        <input type="text" data-edit-target="unitInput" value="<%= ingredient.unit %>" class="edit-field d-none">
      </div>
    </div>
    <% if ingredient.expiration_date %>
      <div class="card-date">
        <span data-edit-target="expirationContent" data-field="expiration_date" data-action="click->edit#edit">
          <%= ingredient.expiration_date %>
        </span>
        <input type="text" data-controller="datepicker" data-datepicker-target="expirationInput" data-edit-target="expirationInput" class="d-none edit-field" value="<%= ingredient.expiration_date %>">
      </div>
    <% end %>
    <div class="error-messages" data-edit-target="errorMessages"></div>
  </div>
  <div class="ingredient-card-icons" data-controller="jiggle">
    <% expires = (ingredient.expiration_date - Date.today).to_i %>
    <% if expires >= 0 && expires <= 7 && ingredient.status != "pending" %>
      <%= button_to ingredient_path(ingredient), {method: :delete} do %>
        <div class="delete-icon fa-solid fa-trash-can" style="font-size: 1.5em;"></div>
      <% end %>
      <%= link_to search_recipes_path(query: ingredient.name.downcase.titleize), data: { turbo_method: :get, turbo_confirm: "Search for recipes using #{ingredient.name.downcase.titleize}?" } do %>
        <div class="expire-icon fa-solid fa-circle-exclamation" data-jiggle-target="icon"></div>
      <% end %>
    <% elsif expires.negative? && ingredient.status != "pending" %>
      <%= button_to ingredient_path(ingredient), {method: :delete} do %>
        <div class="delete-icon fa-solid fa-trash-can" style="font-size: 1.5em;"></div>
      <% end %>
      <%= link_to ingredient_path(ingredient), data: { turbo_method: :delete, turbo_confirm: "This ingredient has expired! Do you want to throw it out?"} do %>
        <div class="expire-icon fa-solid fa-skull-crossbones" data-jiggle-target="icon"></div>
      <% end %>
    <% else %>
      <%= button_to ingredient_path(ingredient), {method: :delete} do %>
        <div class="delete-icon fa-solid fa-trash-can" style="font-size: 32px;"></div>
      <% end %>
    <% end %>
  </div>
</div>
