<div  data-controller="search">
  <h1> <%= current_user.name %>'s Pantry </h1>
  <div class="expiring-alert" data-controller="alert" data-alert-target="container">
    <% if @expiring.present? && @expiring.any? %>
        <i class="fa-solid fa-circle-exclamation fa-xl"
            style="color: #FA9185;"
            data-alert-target="icon"
            data-action="mouseenter->alert#reopenMessage click->alert#reopenMessage"></i>
      <div class="expiring-message" data-alert-target="message">
        <%= link_to expiring_ingredients_path, style: "text-decoration: none; color: white;" do %>
          <%= @expiring.length %> items expiring soon!
        <% end %>
      </div>
    <% end %>
  </div>
  <!--<div data-controller="toggler">
    <button data-action="toggler#toggle" data-target-name="form"> Stock the pantry! </button>
    <%# Added ternary operate to keep form rendered if there were errors on entry %>
    <div data-toggler-target="form" class="<%= @ingredient.errors.any? ? '' : 'd-none' %>">
      <%= render partial: "form"%>
    </div>
  </div>-->
  <%# Div for filter buttons %>
  <div class="buttons-filter" data-controller="filtering">
    <%# Adding button to render all categories %>
    <button
      class="btn-filter"
      data-action="filtering#showAll"
      data-filtering-target="button">
      All
      </button>
    <% @categories.each do |category| %>
      <button
        class="btn-filter"
        data-action="filtering#fire"
        data-filtering-target="button"
        data-category="<%= category.name %>">
        <%= category.name %>
      </button>
    <% end %>
  </div>

  <%# search %>
  <div class="col-sm-8 my-3 m-1">
    <%= simple_form_for :search, url: ingredients_path, method: :get, html: { class: "d-flex", data: { search_target: "form"} } do |f| %>
      <%= f.input :query,
                  input_html: {
                    placeholder: "Search your Pantry",
                    data: { action: "keyup->search#fire",
                    search_target: "input" }
                  },
                  label: false %>
      <%= f.button :submit, "Search", class: "btn btn-primary", data: { search_target: "submit" } %>
    <% end %>
  </div>

    <!-- Search Results -->
  <div id="search-results" data-search-target="results">

    <div data-controller="filtering">
      <% @categories.each do |category| %>
        <%# Isolates ingredients of that category belonging to the current pantry / user %>
        <% category_ingredients = @ingredients.select { |ingredient| ingredient.category == category } %>
        <%# Hides categories if nothing has been added to it yet %>
        <% if category_ingredients.any? %>
          <%# Using empty class "category-section" to help filtering Stimulus controller. DO NOT DELETE %>
          <div data-category="<%= category.name %>" class="category-section">
            <%= render partial: "category", locals: { category: category, ingredients: @ingredients } %>
          </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
