<div  data-controller="search" class="search-controller">
  <div class="pantry-navbar">
    <h1> <%= current_user.name %>'s Pantry </h1>
    <div class="expire-and-search">
      <div class="expiring-alert"
        data-controller="alert"
        data-alert-target="container"
        data-action="mouseenter->alert#reopenMessage click->alert#reopenMessage">
        <% if @expiring.present? && @expiring.any? %>
            <div class="alert-icon fa-solid fa-circle-exclamation fa-2xl" data-alert-target="icon"></div>
          <div class="expiring-message" data-alert-target="message">
            <%= link_to expiring_ingredients_path, style: "text-decoration: none; color: white;" do %>
              <%= @expiring.length %> <%= "item".pluralize(@expiring.size) %> expiring soon!
            <% end %>
          </div>
        <% end %>
      </div>
      <!--<div data-controller="toggler">
        <button data-action="toggler#toggle" data-target-name="form"> Stock the pantry! </button>
        <%# Added ternary operate to keep form rendered if there were errors on entry %>
        <div data-toggler-target="form" class="<%= @ingredient.errors.any? ? '' : 'd-none' %>">
          <%= render partial: "form"%>
        </div>
      </div>-->

      <%# search %>
      <div class="search-bar">
        <i class="search-icon fa-solid fa-magnifying-glass"></i>
        <%= simple_form_for :search, url: ingredients_path, method: :get, html: { class: "d-flex", data: { search_target: "form"} } do |f| %>
          <%= f.input :query,
                      input_html: {
                        placeholder: "Search your Pantry",
                        data: { action: "keyup->search#fire",
                        search_target: "input" }
                      },
                      label: false %>
        <% end %>
      </div>

    </div>

    <%# Div for filter buttons %>
    <div class="buttons-filter" data-controller="filtering">
      <%# Adding button to render all categories %>
      <button
        class="btn-filter"
        data-action="filtering#showAll"
        data-filtering-target="button">
        All
        </button>
      <% @categories.each do |category| %>
        <button
          class="btn-filter"
          data-action="filtering#fire"
          data-filtering-target="button"
          data-category="<%= category.name %>">
          <%= category.name %>
        </button>
      <% end %>
    </div>
  </div>
    <!-- Search Results -->
  <div id="search-results" data-search-target="results">

    <div data-controller="filtering">
      <% @categories.each do |category| %>
        <%# Isolates ingredients of that category belonging to the current pantry / user %>
        <% category_ingredients = @ingredients.select { |ingredient| ingredient.category == category } %>
        <%# Hides categories if nothing has been added to it yet %>
        <% if category_ingredients.any? %>
          <%# Using empty class "category-section" to help filtering Stimulus controller. DO NOT DELETE %>
          <div data-category="<%= category.name %>" class="category-section">
            <%= render partial: "category", locals: { category: category, ingredients: @ingredients } %>
          </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
