<div>
  <h1> <%= current_user.name %>'s Pantry </h1>
  <div data-controller="toggler">
    <button data-action="toggler#toggle" data-target-name="newForm"> Stock the pantry! </button>
    <div data-toggler-target="newForm" class="d-none">
      <%= render partial: "new"%>
    </div>
  </div>
  <div>
    <i class="fa-solid fa-triangle-exclamation"></i></i> Expiring soon!
    <% expiring = @ingredients.select do |ingredient| %>
      <%# Selects ingr %>
      <% ingredient.expiration_date < Date.today + 3 %>
    <% end %>
  <div>
  <div>
    <% @ingredients.each do |ingredient| %>
      <div class="card">
        <p><%= ingredient.name %></p>
        <p>
        <%# conditional leans up display, returns whole numbers & decimals %>
          <% if ingredient.amount % 1 == 0 %>
            <%= ingredient.amount.to_i %>
          <% else %>
            <%= ingredient.amount %>
          <% end %>
          <%= ingredient.unit %>
        </p>
      </div>
    <% end %>
  <div>

</div>
