<div  data-controller="search">
  <h1> <%= current_user.name %>'s Pantry </h1>
  <!--<div data-controller="toggler">
    <button data-action="toggler#toggle" data-target-name="form"> Stock the pantry! </button>
    <%# Added ternary operate to keep form rendered if there were errors on entry %>
    <div data-toggler-target="form" class="<%= @ingredient.errors.any? ? '' : 'd-none' %>">
      <%= render partial: "form"%>
    </div>
  </div>-->
  <%# Div for filter buttons %>
  <div class="buttons-filter" data-controller="filtering">
    <%# Adding button to render all categories %>
    <button
      class="btn-filter"
      data-action="filtering#showAll"
      data-filtering-target="button">
      All
      </button>
    <% @categories.each do |category| %>
      <button
        class="btn-filter"
        data-action="filtering#fire"
        data-filtering-target="button"
        data-category="<%= category.name %>">
        <%= category.name %>
      </button>
    <% end %>
  </div>

  <form id="search-ingredients">
    <div class="form-group  m-1" data-controller="search">
      <div class="d-flex">
        <input type="text" id="ingredient-name" class="form-control"
          data-action="keyup->search#fire"
          data-search-target="input"
          placeholder="stimulus search">
        <input type="submit" value="Search" class="btn btn-primary ms-2">
      </div>
    </div>
  </form>
    </div>



  <div class="col-sm-8 my-3 m-1">
    <%= form_with url: ingredients_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search your Pantry"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div id="expiring">
    <%# Filters for items expiring in the next 7 days; may need to expand that range %>
    <% expiring = @ingredients.select do |ingredient| %>
      <% ingredient.expiration_date.present? && ingredient.expiration_date <= (Date.today + 7) %>
    <% end %>
    <%# Conditional Guard -- Hides expiring section if expiring array is empty %>
    <% if expiring.any? %>
      <div class="expiring-section">
        <div class="category-title expiring-title">
          <div class="recycle-container">
            <div class="pie-chart"></div>
            <div class="recycle-overlay"><i class="fa-solid fa-recycle"></i></div>
          </div>
          <h3> Expiring soon! </h3>
        <%# Rotating recycle icon %>
          <div class="recycle-container">
            <div class="pie-chart"></div>
            <div class="recycle-overlay"><i class="fa-solid fa-recycle"></i></div>
          </div>
        </div>
          <% expiring.each do |ingredient| %>
            <%= render partial: "ingredients_card", locals: { ingredient: ingredient } %>
          <% end %>
      </div>
    <% end %>
  </div>
  <div data-controller="filtering">
    <% @categories.each do |category| %>
      <%# Isolates ingredients of that category belonging to the current pantry / user %>
      <% category_ingredients = @ingredients.select { |ingredient| ingredient.category == category } %>
      <%# Hides categories if nothing has been added to it yet %>
      <% if category_ingredients.any? %>
        <%# Using empty class "category-section" to help filtering Stimulus controller. DO NOT DELETE %>
        <div data-category="<%= category.name %>" class="category-section">
          <%= render partial: "category", locals: { category: category, ingredients: @ingredients } %>
        </div>
        <% end %>
    <% end %>
  </div>
</div>
