<div>
  <body>
    <div class="homepage">
      <div class="logo-container p-2">
        <%= image_tag 'logo_horizontal.png', alt: 'logo'%>
      </div>
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <%= image_tag 'strawberries_but_bigger.jpeg', class: 'd-block w-100', alt: '...', style: 'filter: blur(1px);' %>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <%= image_tag 'pasta.jpg', class: 'd-block w-100', alt: '...', style: 'filter: blur(4px);' %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'fresh.jpg', class: 'd-block w-100', alt: '...', style: 'filter: blur(4px);' %>
          </div>
        </div>
        <div class="carousel-buttons">
          <div class="login-btns">
            <% if user_signed_in? %>
              <%= link_to 'My Pantry', ingredients_path, class: 'btn-homepage' %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-secondary" %>

            <% else %>
              <%= link_to 'Login', new_user_session_path, class: 'btn-homepage' %>
              <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-secondary' %>
            <% end %>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="container">
        <div class="app-description my-1 mt-5">
          <h1>Groceries ❤️ Pantries</h1>
          <p>A pantry management app that simplifies your groceries and adapts to the busiest lifestyles.</p>
        </div>
        <div class="phone-container">
          <div class="phone-feature left-feature">
            <p>Speed up grocery shopping</p>
            <span class="arrow">→</span>
          </div>
          <div class="phone-frame">
            <div class="phone-notch"></div>
            <%= image_tag 'demo.gif', alt: 'App Demo', class: 'phone-screen' %>
          </div>
          <div class="phone-feature right-feature">
            <span class="arrow">←</span>
            <p>Get tailored recipes</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>
