<div>
  <h1> <%= current_user.name %>'s Pantry </h1>
  <div data-controller="toggler">
    <button data-action="toggler#toggle" data-target-name="newForm"> Stock the pantry! </button>
    <div data-toggler-target="newForm" class="d-none">
      <%= render partial: "new_ingredient", locals: { ingredient: @ingredient, pantry: @pantry } %>
    </div>
  </div>
  <div>
    <% @ingredients.each do |ingredient| %>
      <div>
        <%= ingredient.name %>
        <%= ingredient.amount %> <%= ingredient.unit %>
        <%= ingredient.expiration_date %>
      </div>
    <% end %>
  <div>

</div>
