<h1><%= current_user.name %>'s Shopping List</h1>

<% if @ingredients.any? %>
  <ul>
    <% @ingredients.each do |ingredient| %>
        <div class="shopping-list-card">
          <div class="circle"></div>
          <div class="info">
              <div class="title"><%= ingredient.name %></div>
              <div class="subtitle"><%= ingredient.amount %> <%= ingredient.unit %></div>
          </div>
          <%= button_to ingredient_path(ingredient), {method: :delete, data: { confirm: 'Are you sure?' }, class: 'circle-button fa-regular fa-circle-xmark'} do %>
          <% end %>
        </div>
    <% end %>
  </ul>
<% else %>
  <p>No items in your shopping list.</p>
<% end %>

<%= link_to 'Add Item', new_shopping_list_path, class: "pink-button"%>
