<%= javascript_include_tag 'swipe' %>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">

<div class="notepad-container">
  <h1 class="h1-shopping-cart"><%= "#{current_user.name}'s Shopping List" %></h1>

  <% if @ingredients.any? %>
    <div class="mt-3 position-relative">
      <div class="swipe-indicator left">Swipe left to add to pantry</div>
      <div class="swipe-indicator right">Swipe right to delete</div>
      <% @ingredients.each do |ingredient| %>
        <div class="shopping-list-card">
          <input type="checkbox" class="shopping-list-checkbox" data-ingredient-id="<%= ingredient.id %>">
          <div class="info">
            <div class="title"><%= ingredient.name.capitalize %></div>
            <div class="subtitle">
              <%= ingredient.amount % 1 == 0 ? ingredient.amount.to_i : ingredient.amount %>
              <%= ingredient.unit %>
            </div>
          </div>
          <%= button_to shopping_list_path(ingredient), {method: :put, params: { status: 0 }, class: 'add-button fa-solid fa-check-to-slot d-none', id: "add-#{ingredient.id}"} do %><% end %>
          <%= button_to ingredient_path(ingredient), {method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-button fa-solid fa-trash-can', id: "delete-#{ingredient.id}"} do %><% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No items in your shopping list.</p>
  <% end %>

  <div class="shopping-btn-container">
    <%= link_to new_shopping_list_path, class: "shopping-list-button" do %>
      <span class="material-icons">add</span>
    <% end %>
  </div>
</div>
