<% title = @result["title"] %>
<% image = @result["image"] || 'no_recipe_image.png' %>
<% servings = @result["servings"] %>
<% readyInMinutes = @result["readyInMinutes"] %>
<% summary = @result["summary"] %>
<% extendedIngredients = @result["extendedIngredients"] %>
<%# post %>

<%= form_with(model: @recipe, url: recipes_path, local: true) do |f| %>
  <%= f.hidden_field :title, value: title %>
  <%= f.hidden_field :description, value: summary %>
  <%= f.hidden_field :image_url, value: image %>
  <%= f.submit "Save this recipe", class: "pink-button" %>
<% end %>
<%# post %>

<div class="recipe-container">
  <div class="recipe-content">
    <%= image_tag image, alt: 'logo', class: "recipe-img" %>
    <div class="title">
      <h1><%= title %></h1>
    </div>
  </div>
  <div class="recipe-detail">
      <span><%= servings %> servings / Ready in <%= readyInMinutes %> minutes</span>
    <ul class="recipe-ingredient">
      <h2>Ingredients</h2>
      <% extendedIngredients.each do |ingredient| %>
        <li class="recipe-ingredient-card">
          <span style="font-weight:bold; margin-right: 8px;"><%= ingredient["name"] %></span>
          <%= ingredient["measures"]["metric"]["amount"] %>
          <%= ingredient["measures"]["metric"]["unitLong"] %>
          <% category_name = Category::CATEGORY_MAPPING[ingredient["aisle"]] %>
          <% categoryid = Category.find_by(name:"#{category_name}").id %>
        </li>
      <% end %>
    </ul>

    <h2>Descriptions</h2>
      <%= simple_format(summary) %>

  </div>

  <div class="recipe-footer">
  <%= link_to '<< Back', 'javascript:history.back()', class: "link-back" %>
  </div>
