<h1>Search Result</h1>
<%# Params %>
<% title = @result["title"] %>
<% image = @result["image"] || 'no_recipe_image.png' %>
<% servings = @result["servings"] %>
<% readyInMinutes = @result["readyInMinutes"] %>
<% summary = @result["summary"] %>
<% extendedIngredients = @result["extendedIngredients"] %>

<%# hidden form to pass recipe/recipe ingredient params %>
<%= form_with(model: @recipe, url: recipes_path, local: true) do |f| %>
  <%= f.hidden_field :title, value: title %>
  <%= f.hidden_field :description, value: summary %>
  <%= f.hidden_field :image_url, value: image %>

  <div class="recipe-container">
    <div class="recipe-content">
      <%= image_tag image, alt: 'logo', class: "recipe-img" %>
      <div class="title">
        <h1><%= title %></h1>
      </div>
    </div>
    <div class="recipe-detail">
      <span><%= servings %> servings / Ready in <%= readyInMinutes %> minutes</span>
      <h2>Ingredients</h2>
      <ul class="recipe-ingredient">
          <%# fields to pass multile recipe ingredients as "recipe_ingredients_attributes" %>
          <%= f.fields_for 'recipe_ingredients_attributes[]', RecipeIngredient.new do |fields| %>
            <% extendedIngredients.each do |ingredient| %>
              <li class="recipe-ingredient-card">
                <span style="font-weight:bold; margin-right: 8px;"><%= name = ingredient["name"].titleize %></span>
                <%= amount = (ingredient["measures"]["metric"]["amount"] - ingredient["measures"]["metric"]["amount"].to_i) > 0 ? ingredient["measures"]["metric"]["amount"] : ingredient["measures"]["metric"]["amount"].to_i %>
                <%= unit = ingredient["measures"]["metric"]["unitLong"].titleize %>
                <% category_name = Category::CATEGORY_MAPPING[ingredient["aisle"]] %>
                <% categoryid = Category.find_by(name:"#{category_name}").id %>
              </li>
              <%= fields.hidden_field :name, value: name %>
              <%= fields.hidden_field :amount, value: amount %>
              <%= fields.hidden_field :unit, value: unit %>
              <%= fields.hidden_field :category_id, value: categoryid  %>
            <% end %>
          <% end %>
      </ul>
      <h2>Instructions</h2>
      <div class="recipe-ingredient-info">
        <%= simple_format(summary) %>
      </div>
    </div>
    <div class="btn_recipe_save">
      <%= f.submit "Save this recipe", class: "btn-new-search" %>
    </div>
  </div>
<% end %>

<div class="recipe-footer">
  <%= link_to '<< Back', 'javascript:history.back()', class: "link-back" %>
</div>
