<h1>Search Results</h1>
  <div class="col-sm-8 my-3 m-1">
    <%= form_with url: search_recipes_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Enter Ingredients (put a space between items)"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>

<% if @results %>
  <ul class="recipes-container">
    <% @results.each do |value| %>
      <% title = value["title"] %>
      <% image = value["image"] %>
      <% missedCount = value["missedIngredientCount"] %>
      <% usedCount = value["usedIngredientCount"] %>
      <% recipeid = value["id"] %>

      <%= link_to result_recipes_path(recipe: recipeid), class: "recipe-card" do%>
        <li>
            <%= image_tag image, class:"recipe-card-img", alt: '...' %>
          <div class="info">
              <div class="title"><%= title %></div>
              <div class="subtitle"><%= "#{missedCount}/#{missedCount+usedCount} ingredients missing" %></div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
No recipe found!
<% end %>
