<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>


    <!-- Facebook open graph data -->
    <meta property=”og:title” content=”<%= meta_title %>” />
    <meta property=”og:type” content=”website” />
    <meta property=”og:url” content=”<%= request.original_url %>” />
    <meta property=”og:image” content=”<%= meta_image %>” />
    <meta property=”og:description” content=”<%= meta_description %>” />
    <meta property=”og:site_name” content=”<%= meta_title %>” />

    <!-- Twitter card data -->
    <meta name=”twitter:card” content=”summary_large_image”>
    <meta name=”twitter:site” content=”<%= DEFAULT_META['twitter_account'] %>”>
    <meta name=”twitter:title” content=”<%= meta_title %>”>
    <meta name=”twitter:description” content=”<%= meta_description %>”>
    <meta name=”twitter:creator” content=”<%= DEFAULT_META['twitter_account'] %>”>
    <meta name=”twitter:image:src” content=”<%= meta_image %>”>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if render_navbar? %>
      <div class="yield-content">
        <%= render "shared/flashes" %>
        <%= yield %>
        <%# Below is the the basic custom code for the custom turbo_confirm method %>
        <dialog id="turbo-confirm" class="confirmation-window">
          <form method="dialog">
            <p class="confirmation-message">Are you sure?</p>
              <div class="confirmation-buttons-container">
                <button class="pink-button" value="cancel">Cancel</button>
                <button class="pink-button" value="confirm">Confirm</button>
              </div>
          </form>
        </dialog>
      </div>
      <%= render "shared/navigation" %>
    <% else %>
      <div>
        <%= render "shared/flashes" %>
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
